master/.pio
master/.vscode/.browse.c_cpp.db*
master/.vscode/c_cpp_properties.json
master/.vscode/launch.json
master/.vscode/ipch

pulse_gen/.pio
pulse_gen/.vscode/.browse.c_cpp.db*
pulse_gen/.vscode/c_cpp_properties.json
pulse_gen/.vscode/launch.json
pulse_gen/.vscode/ipch

slave1/.pio
slave1/.vscode/.browse.c_cpp.db*
slave1/.vscode/c_cpp_properties.json
slave1/.vscode/launch.json
slave1/.vscode/ipch

slave2/.pio
slave2/.vscode/.browse.c_cpp.db*
slave2/.vscode/c_cpp_properties.json
slave2/.vscode/launch.json
slave2/.vscode/ipch

pulse_gen/.pio
pulse_gen/.vscode/.browse.c_cpp.db*
pulse_gen/.vscode/c_cpp_properties.json
pulse_gen/.vscode/launch.json
pulse_gen/.vscode/ipch

